 .details {
     min-height: 80vh;
     .d-flex {
         height: 60vh;
     }
     .container {
         margin-top: 20px;
         margin-bottom: 50px;
         .d-flex {
             height: 60vh;
         }
         h4 {
             font-family: 'Montserrat', sans-serif;
             color: #0073bd;
         }
         .row {
             margin-top: 50px;
             pdf-viewer {
                 border: 2px solid black;
             }
             .col-md-4 {
                 font-family: 'Lato', sans-serif;
                 p {
                     font-size: 15px;
                 }
                 span {
                     font-weight: bold;
                 }
                 label {
                     font-size: 13px;
                 }
                 button {
                     border-radius: 0px;
                 }
             }
             .img {
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 flex-direction: column;
             }
         }
     }
 }