<app-navbar></app-navbar>
<app-hero-section></app-hero-section>
<div class="details">
    <div class="d-flex justify-content-center align-items-center" *ngIf="isLoading">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="container" *ngIf="!isLoading">
        <div class="row">
            <div class="col-md-4">
                <h4>Claim</h4>
                <p><span>Created At: </span> {{claim?.createdAt | date: 'shortDate'}}</p>
                <p><span>Status: </span>{{claim?.status | titlecase}}</p>
                <p><span>Principal: </span> {{claim?.claimBeneficiaryFuneral}}</p>
                <p><span>Beneficiary: </span> {{claim?.claimPrincipalFuneral}}</p>
            </div>
            <div class="col-md-4">
                <h4>Principal</h4>
                <p><span>Firstname: </span> {{claim?.principal.firstName}}</p>
                <p><span>Lastname: </span> {{claim?.principal.lastName}}</p>
                <p><span>ID Number: </span> {{claim?.principal.idNumber}}</p>
                <p><span>Phone: </span> {{claim?.principal.mobileNumber}}</p>
                <p><span>Location: </span> {{claim?.principal.location}}</p>
            </div>
            <div class="col-md-4">
                <h4>Beneficiary</h4>
                <p><span>Firstname: </span> {{claim?.beneficiary.firstName}}</p>
                <p><span>Lastname: </span> {{claim?.beneficiary.lastName}}</p>
                <p><span>ID Number: </span> {{claim?.beneficiary.idNumber}}</p>
                <p><span>Mobile Number: </span> {{claim?.beneficiary.mobileNumber}}</p>
                <p><span>Location: </span> {{claim?.beneficiary.location}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h5>Checklist</h5>
                <ul>
                    <li>Principal ID Photo Front</li>
                    <li>Principal ID Photo Back</li>
                </ul>
            </div>
        </div>


        <div class="row">
            <div class="col-md-10">
                <!-- <pdf-viewer src="{{claim?.file}}" style="display: block;"></pdf-viewer> -->
            </div>
        </div>

        <form [formGroup]="claimForm">
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="bluewaveReview">Bluewave - Review</label>
                    <textarea class="form-control" formControlName="bluewave" rows="3"></textarea>
                </div>
            </div>
            <button class="btn btn-info">Review</button>

            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="cicApprove">CIC - Approve</label>
                    <textarea class="form-control" formControlName="cicApprove" rows="3"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-success" (click)="approveClaim()">Approve</button>

            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="cicReject">CIC - Reject</label>
                    <textarea class="form-control" formControlName="cicReject" rows="3"></textarea>
                </div>
            </div>
            <button class="btn btn-danger" (click)="rejectClaim()">Reject</button>
        </form>
    </div>
</div>
<app-footer></app-footer>