 .details {
     min-height: 80vh;
     .d-flex {
         height: 60vh;
     }
     .container {
         margin-top: 20px;
         margin-bottom: 50px;
         .d-flex {
             height: 60vh;
         }
         h4 {
             font-family: 'Montserrat', sans-serif;
             color: #0073bd;
         }
         form {
             button {
                 border-radius: 0px;
                 margin-bottom: 20px;
             }
         }
         .row {
             margin-top: 50px;
             pdf-viewer {
                 border: 2px solid black;
             }
             .img {
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 flex-direction: column;
             }
         }
     }
 }